@model List<TestApp.Domain.Model.Player>

@{
    ViewData["Title"] = "Список";
}

<h1>Список футболистов</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Страна</th>
            <th scope="col">Пол</th>
            <th scope="col">Команда</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Id</td>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
                <td>@player.BirthDate.ToShortDateString()</td>
                <td>@player.Country</td>
                <td>@player.Gender</td>
                <td>@player.TeamName</td>
                <td><a asp-controller="Player" asp-action="EditPlayer" asp-route-id="@player.Id">Редактировать</a></td>
            </tr>
        }
    </tbody>
</table>


