@model List<TestApp.Domain.Model.Player>

@{
    ViewBag.Title = "title";
}

<h1>Список футболистов</h1>
<table>
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Дата рождения</th>
            <th>Страна</th>
            <th>Пол</th>
            <th>Команда</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
                <td>@player.BirthDate</td>
                <td>@player.Country</td>
                <td>@player.Gender</td>
                <td>@player.TeamName</td>
            </tr>
        }
    </tbody>
</table>


